<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=image_path 'restaurant.png'%>">
  <div class="container">
    <h1>Welcome <strong> to </strong> your <strong> restaurant </strong>!</h1>
    <p>Invítate a pasar un gran momento</p>
    <a class="btn btn-flat" href="#">Conócenos</a>
  </div>
</div>
<h4 class="text-warning mt-3">Nuestras nuevas sucursales</h4>
<div class="row">
<hr>
<% @restaurants.each do |restaurant| %>
  <div class="col-4">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=url_for restaurant.photo%>)">
      <%= restaurant.name %>
    </div>
  </div>
<% end %>
</div>
